body{font-family: arial; font-size: 10pt;}
div.page{width: 800px; min-height: 600px; border: 0px solid #cfcfcf; margin: auto;}
div.pageTop{position: fixed; top: 0; width: inherit; margin: auto; z-index:10;}
div.pageContent{margin-top: 65px; width: inherit; margin-left: auto; margin-right: auto; margin-bottom: auto;}
div.centered{width: 100%; margin: auto;}
div.spacer{width: 100%; height: 20px;}
div.footer{width: 800px; text-align: center; margin: auto;}
div.success{padding: 4px; border: 2px solid #19A347; color: #19A347; background-color: #AFFFAB; text-align: center;}
div.error{padding: 4px; border: 2px solid #FF5036; color: #FF5036; background-color: #FFB6AB; text-align: center;}
table.data{width: 95%;}
tr.odd{background-color: #f9f9f9}
th.data{background-color: #E6E6E6; padding:3px; font-family: arial; font-size: 10pt; border: 1px solid #cfcfcf;}
td.data{text-align: center; padding: 3px; font-family: arial; font-size: 10pt; border: 1px solid #cfcfcf;}
table.menu{width: 100%; background-color: #333; border: 2px solid white;}
td.menu{width: 14.3%; background-color: #E6E6E6; text-align: center; padding: 3px; font-family: arial; font-size: 10pt; border: 1px solid #cfcfcf;}
td.colpos {background-color: #AFFFAB;}
td.colneg {background-color: #FFB6AB;}
td.colunchg {background-color: #F3E5AB;}
table.manualtable thead tr th {padding: 10px 18px;}
table.manualtable tbody tr td {padding: 8px 10px;}
a{text-decoration: none; color: #000000;}
a.delete{color: #ffffff; text-decoration: none; background-color: red; padding-right: 4px; padding-left: 4px;}
span.heading{font-weight: bold; text-align: center;}
span.red{color: red;}
h3{font-size: 10pt; margin: 0px; text-align: center; color: #666666}
fieldset{border: 1px solid #cfcfcf;}
legend{font-size: 10pt;}
span.debug{color: red;}
.loader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);}
input.widetext{width: 95%;}
input.large{width: 12em;}
input.medium{width: 10em;}
input.amount{width: 8em;}
input.date{width: 6em;}
input.mini{width: 1em;}
select.activity{max-width:100%;}
select.numbers{max-width:100%;}
label.currencyamount{padding: 0px 6px 0px 0px;}
span.nobreakcenterv{white-space: nowrap;display: flex;align-items: center}
pre { overflow: auto; }

/* tooltip begin -------------------------------------------
   https://www.w3schools.com/howto/howto_css_tooltip.asp */
 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 
/* tooltip end  -------------------------------------- */
